<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Projects/hms-frontend-vue/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Projects/hms-frontend-vue/index.html [L]
</IfModule>
